@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

//ABOUT

// .about {
//   border: 3px solid greenyellow;
//   position: relative;

//   &__aboutBackround {

//     border-style: solid;
//     border-width: 0 0 100vh 175vh;
//     border-color: transparent transparent $color-primary transparent;
//     position: absolute;
//     top: 100;
//     right: 0;
//     z-index: -1;
//     // margin: 35px;
//   }
// }

.about {
  border: 3px solid greenyellow;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  min-height: 100vh;

  &::after {
    content: "";
    position: absolute;
    background-color: $color-primary;
    padding-bottom: 141.42136%;
    width: 100%;
    bottom: -80px;
    // bottom: 0;
    left: 0;
    transform: rotate(65.5deg);
    transform-origin: left bottom;
    z-index: -1;
  }
}

.profile {
  margin: 0 auto 0 auto;
  width: auto;
  height: 80vh;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px dotted red;

  @include tablet {
    grid-column-gap: 0px;
    width: 70%;
  }

  @include desktop {
    grid-column-gap: 50px;
  }

  // border: 3px dotted blue;

  &__description {
    text-align: justify;
    grid-row: 1/2;
    grid-column: 1/3;
    line-height: 18px;

    @include desktop {
      grid-row: 1/4;
      grid-column: 1/2;
    }
  }

  &__skills {
    display: grid;

    font-size: 20px;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(4, 40px);
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 30px;

    @include tablet {
      font-size: 30px;
      grid-template-columns: repeat(5, 40px);
      grid-template-rows: repeat(4, 50px);
    }

    @include desktop {
      font-size: 40px;
      grid-template-columns: repeat(5, 70px);
      grid-template-rows: repeat(4, 60px);
      grid-row: 1/2;
      grid-column: 2/3;
      margin-left: 30px;
      margin-top: 0px;
    }
  }

  .slkillIcon {
    width: 18px;
    margin: auto;

    &:hover {
      opacity: 0.5;
    }

    @include tablet {
      width: 28px;
    }

    @include desktop {
      width: 40px;
    }
  }

  &__imageBox {
    // border: 3px solid violet;
    height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 30px;

    @include desktop {
      grid-row: 2/4;
      grid-column: 2/3;
      margin-top: 0px;
    }
    .profileImg {
      max-width: 100%;
      height: auto;
      object-fit: contain;

      width: 100%;
      // height: 100%;
    }
  }
}
