@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";



//MAIN
.main {
  margin: 5vh;
}

//HOME

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__homeBackground {
    background-color: $color-primary;
    width: 50%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 5vh;
  }

  &__mainTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

// SECTION

.section {
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  margin-left: 0px;
  margin-bottom: 80px;
  margin-top: 80px;
  // border: 1px dotted blue;

  @include desktop {
    margin-left: 350px;
  }
}

.palmtree {
  width: 63px;
  height: 63px;
  object-fit: cover;
}

.sectionPalmtree {
  transform: translateY(62px);
}

//arrow

.arrowBox {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  top: -80px;
  
}
.upArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  &:hover :first-child {
    transform: translateY(-20px);
  }

  &__arrow {
    height: 30px;
    margin-bottom: 10px;
    transition: all 0.5s;
  }
  &__upText {
    transform: rotate(-90deg);
  }
}

.contactArrow {
  top: 70px;
}

//PROJECTS

.workslist {
  border: 1px dashed black;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 450px;
}

.project {
  margin: 0 auto;
  width: 100%;

  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    object-fit: contain;
    transition: all 0.5s;
  }

  &__cover {
    padding: 50px;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    position: absolute;
    bottom: 0;

    transition: all 0.3s ease-out;

    background-color: $color-primary;

    &:hover {
      background-color: $color-secondary;
      opacity: 1;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: auto;
    width: 70px;
  }
  .projectButton {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    background-color: $color-light;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $color-dark;
      color: $color-light;
    }
  }

  &__description {
    align-self: flex-start;
  }

  .techIcons {
    color: $color-light;
    font-size: 15px;
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
}

//ABOUT

.about {
  &__aboutBackround {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100vh 175vh;
    border-color: transparent transparent $color-primary transparent;
    position: absolute;
    top: 100;
    right: 0;
    z-index: -1;
    margin: 5vh;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  height: 703px;
  margin-left: 350px;
  margin-right: 300px;

  &__description {
    width: 50%;
    text-align: justify;
    align-self: flex-start;
  }

  &__imageBox {
    width: 820px;
    align-self: flex-end;

    .profileImg {
      width: 100%;
      object-fit: cover;
    }
  }
}

//CONTACT

.postcard {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 60%;
}

.leftColumn {
  flex: 50%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.rightColumn {
  flex: 50%;

  display: flex;
  flex-direction: column;
  padding: 40px;
}

.stamp {
  border: 1px dashed black;
  width: 140px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
.stamp2 {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 120px;
  display: flex;
  justify-content: center;
}

.palmtreeIsland {
  width: 100%;
  background-color: $color-secondary;
  padding: 10px;
}

.formInput {
  border: none;
  border-bottom: 1px solid $color-dark;
  padding: 10px;
  font-family: "Caveat", cursive;
  font-size: 25px;
  margin-bottom: 40px;
  &:focus {
    outline: none;
    border-bottom: 0.5px dotted $color-primary;
  }
}

.textarea {
  border: 1px dotted $color-dark;
  margin-top: 40px;
  &:focus {
    border: 0.5px dotted $color-primary;
  }
}

.submitInput {
  width: 25%;
  height: 50px;
  align-self: flex-end;
  display: inline;
  color: $color-light;
  background-color: $color-primary;
  border: none;
  transition: all 0.3s ease-out;
  &:hover {
    background-color: $color-dark;
    color: $color-light;
  }
}

.label {
  font-weight: 900;
}

.as {
  border: 1px solid red;
  color: $color-secondary;
}

//FOOTER

//zigzag

// .prefooter {
//   position: relative;
//   padding: 8px 8px 32px 8px;
//   background: $color-secondary;
//   height:15px;
//   z-index: 1;

// &:after {
// background: linear-gradient(-45deg, #ffffff 10px, transparent 0), linear-gradient(45deg, #ffffff 10px, transparent 0);
// background-position: left-bottom;
// background-repeat: repeat-x;
// background-size: 32px 32px;
// content: " ";
// display: block;
// position: absolute;
// bottom: 0px;
// left: 0px;
// width: 100%;
// height: 32px;
// }
// }

.footer {
  background-color: $color-primary;
  // height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $color-light;

  &__ssmmfooter {
    display: flex;
    justify-content: space-between;
    width: 80px;

    & .icon {
      &:hover {
        color: $color-dark;
        cursor: pointer;
      }
    }
  }
}
