@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";




//HEADER

.fixHeader {
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;

  &__closeIcon {
    color: $color-secondary;
    font-size: 40px;
  }
}

.nav {
  margin-bottom: 20px;

  &__option {
    margin-top: 15px;
    &:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}

.ssmm {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icon {
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
}


//MAIN
.main{
  margin: 5vh;
  // border: 4px dotted deeppink;
}

//HOME

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__homeBackground {
    background-color: $color-primary;
    width: 50%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 5vh;
    
  }

  &__mainTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}




// SECTION

.titleBox {
  display: flex;
  margin-left: 350px;
}

.palmtree {
  width: 63px;
  height: 63px;
  object-fit: cover;

  // border: solid 1px red;
}

.sectionPalmtree {
  transform: translateY(62px);
}

//PROJECTS

.workslist {
  background-color: darkkhaki;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);

  flex-grow: 4;
  
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
}

.project {
  width: 500px;
  background-color: lightcyan;
}

//ABOUT

//CONTACT

//FOOTER
