@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

//HOME

.App {
  // 
    border: 1px solid greenyellow;
    min-height: 100vh;
}

.home {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted orange;

  &__homeBackground {
    background-color: $color-primary;
    width: 50%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 5vh;

  }

  &__titlebox {
    // border: solid 1px pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin:auto;
    border: 1px solid violet;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border: 1px dashed rebeccapurple;
  }

  &__title2 {
    display: flex;
    // border: 1px dotted rebeccapurple;
  }
}

.fixheader {
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;

  &__closeIcon {
    color: $color-secondary;
    font-size: 40px;
  }
}

.nav {
      margin-bottom: 20px;

      &__option {
        margin-top: 15px;
        &:hover {
          color: $color-secondary;
          cursor: pointer;
        }
      }
    }

.ssmm {
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__icon {
        &:hover {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  


.palmtree {
  width: 63px;
  height: 63px;
  object-fit: cover;

  border: solid 1px red;

}
