@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

//HEADER

.fixHeader {
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;

  &__closeIcon {
    color: $color-secondary;
    font-size: 40px;
  }
}

.nav {
  margin-bottom: 20px;

  &__option {
    margin-top: 15px;
    &:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }
}

.ssmm {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icon {
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

//MAIN
.main {
  margin: 5vh;
  // border: 4px dotted deeppink;
}

//HOME

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__homeBackground {
    background-color: $color-primary;
    width: 50%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 5vh;
  }

  &__mainTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

// SECTION

.titleBox {

  display: flex;
  margin-left: 0px;
  margin-bottom: 80px;
  margin-top: 80px;

  @include desktop {
    margin-left: 350px;
  }
}

.palmtree {
  width: 63px;
  height: 63px;
  object-fit: cover;

  // border: solid 1px red;
}

.sectionPalmtree {
  transform: translateY(62px);
}

//PROJECTS

.workslist {
  background-color: darkkhaki;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 450px;
}

.project {
  background-color: pink;
  border: solid 1px darkmagenta;
  margin: 0 auto;
  width: 100%;

  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    object-fit: contain;
    transition: all 0.5s;
    border: solid 4px green;
  }

  &__cover {
    padding: 50px;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    position: absolute;
    bottom: 0;
    // height: 80px;
    // transform: translateY(10%);
    transition: all 0.3s ease-out;
    // opacity:0;

    background-color: $color-primary;

    &:hover {
      background-color: $color-secondary;
      opacity: 1;
      // transform: translateY(0%);
      // // transition: all 0.5s ease-out;
    }
  }

  &__buttons {
    // border: 2px dotted black;

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: auto;
    width: 70px;
  }
  .projectButton {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    background-color: $color-light;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $color-dark;
      color: $color-light;
    }
  }

  &__description {
    align-self: flex-start;
  }

  .techIcons {
    // border: 2px dotted black;

    color: $color-light;
    font-size: 15px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    
  }
}

//ABOUT

//CONTACT

//FOOTER
