@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

//MAIN
.main {
  margin: auto;
  width: 100%;
  position: relative;

  @include tablet {
    padding: 35px;
  }
}


// SECTION

.section {
  display: flex;
  flex-direction: column;
}

.titleBox {
  display: flex;
  margin: 40px auto 40px auto;

  @include tablet {
    margin: 60px auto 60px auto;
  }
  @include desktop {
    margin: 80px auto 80px auto;
  }
}

.palmtree {
  width: 31.5px;
  height: 31.5px;
  object-fit: cover;

  @include tablet {
    width: 63px;
    height: 63px;
  }
}

.sectionPalmtree {
  width: 25px;
  height: 25px;
  transform: translateY(26px);

  @include tablet {
    width: 63px;
    height: 63px;
    transform: translateY(30px);
  }

  @include desktop {
    transform: translateY(62px);
  }
}

//arrow

.arrowBox {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  top: -44px;

  @include tablet {
    top: -80px;
  }
}
.upArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;

  @include desktop {
    &:hover :first-child {
      transform: translateY(-20px);
    }
  }

  &__arrow {
    height: 15px;
    margin-bottom: 5px;

    @include tablet {
      height: 30px;
      margin-bottom: 10px;
    }
  }
  &__upText {
    transform: rotate(-90deg);
  }
}

.contactArrow {
  top: 25px;

  @include tablet {
    top: 30px;
    margin-bottom: 10px;
  }
}

