@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

//CONTACT

.postcard {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
  
    align-content: center;
    width: 80%;
  
    @include tablet {
      width: 100%;
      flex-direction: row;
    }
  
    @include desktop {
      width: 80%;
    }
  }
  
  .leftColumn {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 0 40px;
  
    @include tablet {
      border-right: 1px solid black;
      padding: 40px;
    }
  }
  
  .rightColumn {
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;
  
    @include tablet {
      padding: 40px;
    }
  }
  
  .stamp {
    border: 1px dashed black;
    width: 100px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  
    @include tablet {
      margin-bottom: 30px;
      width: 120px;
    }
    @include tablet {
      margin-bottom: 15px;
      width: 140px;
    }
  }
  .stamp2 {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 70px;
    display: flex;
    justify-content: center;
  
    @include tablet {
      width: 120px;
      margin: 10px;
      padding: 10px;
    }
  }
  
  .palmtreeIsland {
    width: 100%;
    background-color: $color-secondary;
    padding: 10px;
  }
  
  .formInput {
    border: none;
    border-bottom: 1px solid $color-dark;
    padding: 10px;
    font-family: "Caveat", cursive;
    font-size: 15px;
    margin-bottom: 40px;
    &:focus {
      outline: none;
      border-bottom: 0.5px dotted $color-primary;
    }
  
    @include tablet {
      font-size: 25px;
    }
  }
  
  .textarea {
    border: 1px dotted $color-dark;
    margin-top: 40px;
    &:focus {
      border: 0.5px dotted $color-primary;
    }
  }
  
  .submitMobile {
    width: 50%;
    height: 35px;
    align-self: flex-end;
    display: inline;
    color: $color-light;
    background-color: $color-primary;
    border: none;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: $color-dark;
      color: $color-light;
    }
  
    @include tablet {
      width: 0px;
      height: 0px;
      visibility: hidden;
    }
  }
  
  .submitTablet {
    visibility: hidden;
  
    @include tablet {
      visibility: visible;
      width: 40%;
      height: 50px;
      align-self: flex-end;
      display: inline;
      color: $color-light;
      background-color: $color-primary;
      border: none;
      transition: all 0.3s ease-out;
      &:hover {
        background-color: $color-dark;
        color: $color-light;
      }
    }
    @include desktop {
      width: 25%;
    }
  }
  
  .label {
    font-weight: 900;
  }
  
  .as{
    color: $color-secondary;
  }