@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";


.designproject{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
   

    &__description{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 50px;
        width: 50%;
        margin: auto;

        
    }

    &__imageContainer{
        margin: auto;
        width: 1000px;
        border: 1px solid red;
        overflow:hidden;
        margin-top: 100px;
        margin-bottom: 80px;

        &__projectImage{
            width: 100%;
            object-fit: contain;
            height: auto;
           
        }
    }
}
.details{
    margin-bottom: 25px;
    // border: 1px solid red;
}