@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

//HOME

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;

  &__homeBackground {
    background-color: $color-primary;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;

//background animation
    animation: triangle ease-in-out;
    animation-duration: 2s;
    @keyframes triangle {
      0% {
        clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
      }
     
      100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }

    @include tablet {
      height: 96%;
    }

    @include desktop {
      height: 93%;
    }
  }

  &__mainTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

//text animation

.mainText1 {
  animation-name: titleAnimation;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  

  @keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    }
  }
}

.mainText2 {
  animation-name: titleAnimation2;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;

  @keyframes titleAnimation2 {
    0% {
      transform: translateY(50px);
      opacity: 0;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    }
  }
}


.palmtree{
  animation-name: palmtree;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;

  @keyframes palmtree {
    0% {
      
      opacity: 0;
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    100% {
      opacity: 1;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
  
  }
}