@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }
// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

h1,
h2,
h3,
h4 {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 100px;
  line-height: 80px;
  font-weight: 900;
  text-transform: uppercase;

  @include tablet {
    font-size: 200px;
    line-height: 180px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;

  @include tablet {
    font-size: 136px;
    
  }
}


  h3 {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 5px;
    

  }

    h4 {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      text-transform: capitalize;
      color:$color-light;
      margin-bottom: 10px;
      opacity:55%;
    }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
 
}

html{
  scroll-behavior: smooth;
}