@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

.project {
  position: relative;
  overflow: hidden;
  // border: 2px dotted blue;
  &:hover &__image{
    filter:blur(10px);
    opacity: 0;
  }

  &:hover &__cover__buttons{
    right:0px;
    transition: all 0.4s ease-out;
  }

  &:hover &__cover__description{
    left:0px;
    transition: all 0.5s ease-out;
  }

  &__cover {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $color-primary;
   
   

    &__buttons {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      width: 50px;
      margin:50px;
      z-index: 10;
      position: absolute;
      right: -150px;

     
  
      @include tablet {
        width: 70px;
      }
    }
  
    &__description {
      align-self: flex-start;
      z-index: 1;
      position: absolute;
      bottom: 0px;
      margin:50px;
      left:-300px;
    }
  }
  &__image {
    object-fit: fill;
    z-index:2;
    transition: all 0.5s ease-out;
    

   
  }

  .projectButton {
    margin-bottom: 10px;
    padding: 5px;
    background-color: $color-light;
    text-align: center;
    transition: all 0.4s ease-out;


    &:hover {
      background-color: $color-dark;
      color: $color-light;
    }
  }

  .techIconBox {
    color: $color-light;
    font-size: 10px;
    width: 80px;
    display: flex;
    justify-content: flex-start;


    & > .fab {
      padding-right: 5px;
   
    }

    @include tablet {
      font-size: 10px;
    }

    @include tablet {
      font-size: 15px;
      width: 100px;
    }
  }
}

