@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

.designproject {
  display: flex;
  flex-direction: column;
  margin-top: 120px;

  &__description {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    width: 70%;
    margin: auto;

    @include tablet{
      column-gap: 50px;
      width: 50%;
    }
  }

  &__imageContainer {
    margin: auto;
    overflow: hidden;
    margin-bottom: 80px;
    width: 70%;

    @include tablet{
      width: 70%;
    }

    @include desktop{
      width: 50%;
    }


    // background-color: yellow;

    &__projectImage {
      width: 100%;
      object-fit: contain;
      height: auto;

      // border: 1px dashed red;
    }
  }
}

.col {
  // border: 2px dotted orange;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: space-between;

  &__textBox {
    margin-bottom: 25px;
    // border: 1px solid pink;Í
  }
}

.backArrowBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // border: 1px solid cyan;

  @include desktop {
    &:hover :first-child {
      transform: translateX(-20px) rotate(-90deg);
    }
  }

  &__arrow {
    transform: rotate(-90deg);
    height: 15px;
    margin-right: 5px;

    @include tablet {
      height: 30px;
      margin-right: 10px;
    }
    // border: 2px dotted darkmagenta;
  }
}
