@import "../stylesheets/reset.scss";
@import "../stylesheets/mixins.scss";
@import "../stylesheets/variables.scss";

.ssmmMenu {
  display: flex;
  justify-content: space-between;
  width: 55px;
  color: $color-secondary;
  cursor: pointer;

  @include tablet {
    width: 80px;
  }
}
.ssmmIcon {
  margin-top: 10px;
  &:hover {
    color: $color-primary;
  }

  @include tablet {
    margin-top: 15px;
  }
}
