// Fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;

// Colors
$color-primary: #82c564;
$color-secondary: #f18b8c;
$color-light: #ffffff;
$color-dark: #000000;

// Breackpoints
$tablet: 768px;
$desktop: 1200px;
